<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.balance.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.balance.sample.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".viewmodel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".asyncloadview.AsyncLoadViewActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.callback.FragmentCallBackActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.callback.ImagePickActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.navigation.FragmentNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".bottomsheet.BottomCardActivity"
            android:exported="false" />
        <activity
            android:name=".preweb.PreWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".scanwifi.WifiScanActivity"
            android:exported="false" />
        <activity
            android:name="com.balance.sample.hook.HookActivity"
            android:exported="false" />
        <activity
            android:name="com.balance.sample.viewpager.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name="com.balance.sample.language.LanguageActivity"
            android:exported="false" />
        <activity
            android:name="com.balance.sample.touchevent.TouchActivity"
            android:exported="false" />
        <activity
            android:name="com.balance.sample.h5offline.WebActivity"
            android:exported="false" />
        <activity
            android:name="com.balance.sample.flutter.CommunityActivity"
            android:exported="false" />
        <activity
            android:name="com.balance.sample.flutter.FlutterEnterActivity"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="test"
                    android:path="/path"
                    android:scheme="auto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.balance.sample.flutter.BalanceFlutterActivity"
            android:exported="false" />
        <activity android:name="io.flutter.embedding.android.FlutterActivity" />
        <activity
            android:name="com.balance.sample.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>